<section id="proyectos">
    <div class="container-fluid seccion">
        <h2 class="titular">Proyectos</h2>
        <a href="#proyectos">
            <fa-icon [icon]="faPlus"></fa-icon>
        </a>
            <div class="container row">
                <div class="project shadow-large">
                    <!----Imagen de proyecto---->
                    <div class="project-image">
                        <img src="../../../assets/images/lluvia2.gif" alt="imagen de proyecto"/>
                    </div>
                    <!----Informacion de proyecto---->                
                    <div class="project-info">
                        <h3><b>Nombre del proyecto</b></h3>
                        <span>Fecha de proyecto</span>
                        <h4>Rol que desempeño</h4>
                        <p>
                            Descripción del proyecto. Aplicación para facilitar regímenes de lluvia en zonas secas, manteniendo un equilibrio en el ámbito local y el entorno. Sincronización con la nube. Historial de regímenes pluviales.
                        </p>
                        <a href="https://www.youtube.com/watch?v=Z_fEKap24wU" target="blanck">Ver proyecto</a>
                    </div>
                </div>
            <!--------------------------------------------------------------->
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="../../../assets/images/lluvia2.gif"/>
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3><b>Misterios</b></h3>
                        <p>
                            Banco de testimonios de sucesos sobrenaturales acontecidos a lo largo del tiempo. Investigación, documentación y foros. 
                        </p>
                        <a href="proyectos.html">Ver proyecto</a>
                        <app-boton-editar></app-boton-editar>
                        <app-boton-borrar></app-boton-borrar>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project -->
            </div>
        
    </div>
</section>
