<section id="educacion">
    <div class="container-fluid seccion">
        <!---Titulo de seccion y BOTON AGREGAR------>
        <div class="row container titular">
            <div class="container col-11">
                <h2 class="">Educación</h2>
            </div>
            <div class="container col-1">
                <app-boton-agregar></app-boton-agregar>
            </div>
        </div>
                
        <!----BLOQUE EDUCATIVO----->
        <article class="container bloque-educativo">
            <div class="row container">
                <div class="col-2">
                    <img class="img-thumbnail" src="../../../assets/images/logoeetn1.jpg" alt="">
                </div>
                <div class="data-educacion col-9">
                    <h3>Técnico en Equipos e Instalaciones Electromecánicas</h3>                    
                    <span>(1997 - 2002)</span>
                    <h4>Escuela de Educación Técnica Nº1 Gral.Savio</h4>
                    <p>Saladillo, Bs.As, Argentina.</p>
                </div>
                <div class="col-1">
                    <app-boton-editar></app-boton-editar>
                    <app-boton-borrar></app-boton-borrar>
                </div>
            </div>
        </article>

        <!---------------------------------------------------------------->

        <article class="container-fluid flex bloque-educativo">
            <div class="row container">
                <div class="col-sm-1">
                    <img class="img-thumbnail" src="../../../assets/images/unlplogo.png" alt="">
                </div>
                <div class="data-educacion col-sm-11">
                    <div class="item-title d-flex justify-content-between align-items-center">
                        <h3>Ingeniería Electrónica</h3>
                        <div class="botones">
                            <app-boton-editar></app-boton-editar>
                            <app-boton-borrar></app-boton-borrar>
                        </div>              
                    </div>
                    <span>(2003 - 2005)</span>
                    <h4>Facultad de Ingeniería, UNLP</h4>
                    <p>La Plata, Bs.As. (Estudios no finalizados)</p>
                </div>                
            </div>
        </article>

        <div class="row container titular">
            <div class="container col-11">
                <h2 class="">Educación</h2>
            </div>
            <div class="container col-1">
                <app-boton-agregar></app-boton-agregar>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img class="img-thumbnail" src="../../../assets/images/unlplogo.png" alt="...">
            </div>
            <div class="flex-grow-1 ms-6">
              This is some content from a media component. You can replace this with any content and adjust it as needed.
            </div>
          </div>



    </div>

    
    
        



</section>


