<header id="header">
    <img class="dos" id="banner" src="../../../assets/images/flor2.png" alt="banner">   
     
    <div id="lead">
        <div id="lead-content" class="magico">
            <h1>Santiago Castellani</h1>
            <h2>Desarrollador Web Full Stack</h2>
        </div>
    </div>
    <div id="lead-overlay"></div>

</header>

<!---
<div class="container" id="perfil">
        <img id="foto-perfil" src="assets/images/fotoperfil.png" class="img-fluid" alt="imagen de perfil">
        <button class="btn-edit" id="editar-datos-perfil"><fa-icon [icon]="faPencilAlt"></fa-icon></button>
    </div>-->

