<section  id="experiencia">
    <div class="container-fluid seccion">
        <div class="titulo-seccion">
            <h2>Experiencia</h2>
            <fa-icon [icon]="faPlus"></fa-icon>
        </div>    
        <div class="row">
            <div class="col-md-2">
                <p>imagen</p>
            </div>
            <div class="col-md-8">
                <h3>Nombre de la empresa</h3>
                <h6>Fecha inicio/Fecha fin</h6>
                <h4>Puesto de trabajo</h4>
                <p>Descripción del puesto de trabajo</p>
            </div>
        </div>
    </div>
</section>
