<!----Barra de navegación---LOGO Y SOCIAL--------> 

<nav id="navegacion" class="navbar container-fluid fixed">
    <div id="argentina-programa">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blanck"><img class="img-fluid" id="logoargentina" alt="Logo Argentina Programa" src="assets/images/logoargentinaprograma.png"/></a>
        <span class="span1">Argentina Programa</span>
        <span class="span2">#YO PROGRAMO</span>
    </div>
    <ul id="social" class="list-inline">
        <li class="list-inline-item vin">
            <a href="https://github.com/SantiagoCastellani" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a>
        </li>
        <li class="list-inline-item vin">
            <a href="https://linkedin.com/santiagocastellani" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a>
        </li>
        <li class="list-inline-item vin">
            <a href="https://instagram.com/santi_monito_castellani" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
        </li>
        <li class="list-inline-item vin">
            <button class="btn-login" id="btn-login"><fa-icon [icon]="faUser"></fa-icon></button>
        </li>
    </ul>
</nav>