<aside>
    <div class="btn-sidebar fixed-top">
        <button class="boton-sidebar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><fa-icon [icon]="faBars"></fa-icon></button>    
    </div> 

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">"Hello"</h5>
            <button type="button" data-bs-dismiss="offcanvas"><fa-icon [icon]="faBars"></fa-icon></button>
        </div>
        <div class="offcanvas-body" id="barra-lateral">
            <div>
                <h5>Desarrollo WEB Full Stack Jr.</h5>
                <h6>Santiago Castellani</h6>
            </div>
            <ul>
                <li>
                    <a href="#header">Home</a>
                </li>
                <li>
                    <a href="#acerca-de">Sobre mí</a>
                </li>
                <li>
                    <a href="#experiencia">Experiencia</a>
                </li>
                <li>
                    <a href="#educacion">Educación</a>
                </li>
                <li>
                    <a href="#proyectos">Proyectos</a>
                </li>
                <li>
                    <a href="#skills">Herramientas</a>
                </li>
                <li>
                    <a href="#contacto">Contacto</a>
                </li>   
            </ul>
        </div>
    </div>
</aside>

